---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello</h1>
			<p>
				Welcome to MRK Blog.
			</p>
			<p>
				bla bla bla
			</p>
			<p><a href="https://astro.build/integrations">bla bla bla:</a></p>
			<ul>
				<li>bla bla bla <code>bla bla bla</code></li>
				<li>bla bla bla <code>bla bla bla</code></li>
				<li>bla bla bla <code>bla bla bla</code></li>
				<li>bla bla bla <code>bla bla bla</code></li>
				<li>bla bla bla <code>bla bla bla</code></li>
			</ul>
			<p>
				Have fun!<a href="https://docs.astro.build/"
					>bla bla bla 
				</a> or <a href="https://astro.build/chat">bla bla discord</a> to ask questions.
			</p>
		</main>
		<Footer />
	</body>
</html>
